body {
  background: #0A1729;
  margin: 0;
  font-family: 'Itim', cursive;
}
.non-parallax{
  position: fixed;
  overflow: visible;
  background-image: url('../img/background.png');
  width: 100%;
  height:984px;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 1920px 984px;
}
.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 984px;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 1920px 984px;
}
.parallax-layer {
  width: 100%;
  height: 984px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 1920px 984px;
}
  .layer-1 {
    z-index: 5;
    background: #9CD2F9 url('../img/L1.png');
    background-size: 1920px 984px;
  }
  .layer-2 {
    z-index: 5;
    background-image: url('../img/L2.png');
  }
  .layer-3 {
    z-index: 10;
    background-image: url('../img/L3.png');
  }
  .layer-4 {
    z-index: 15;
    background-image: url('../img/L4.png');
  }
  .layer-5 {
    z-index: 20;
    background-image: url('../img/L5.png');
  }
  .layer-6 {
    z-index: 25;
    background-image: url('../img/L6.png');
  }
  .layer-7 {
    z-index: 25;
    background-image: url('../img/L7.png');
  }

.content {
  color: #fff;
  position: absolute;
  top: 900px;
  background: #0A1729;
  min-height: 850px;
  padding-left: 400px;
  padding-right: 400px;
  font-size: 20px;
}
  .content h1 {
    margin-top: 150px;
    color: #fff;
    font-size: 2em;
    text-align: center;
  }

.title {
  position: absolute;
  top: 400px;
  width: 100%;
  color: #0A1729;
  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 3px 3px 2px #153763;
  margin: 0;
  text-align: center;
  }

  .imagegallery {

  }

  .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar a {
    font-family: 'Itim', cursive;
    float: left;
    display: block;
    color: #0C63AE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

  .navbar a:hover {
    color: #fff;
  }
