@font-face {
  font-family: "Time";
  src: url("../font/steelfish rg.ttf");
}

@font-face {
  font-family: "Day";
  src: url("../font/la Compagnie des Ombres.ttf");
}

.time{
  position: absolute;
  top: 300px;
  width: 95%;
  color: #2C3E50;
  font-size: 100pt;
  font-family: 'Time', cursive;
  margin: 0;
  text-align: center;
  opacity: 1;
}

.weekday{
  position: absolute;
  top: 395px;
  width: 95%;
  color: #E74C3C;
  font-size: 85pt;
  font-family: 'Day', cursive;
  margin: 0;
  text-align: center;
}

.date{
  position: absolute;
  top: 460px;
  width: 95%;
  color: #3498DB;
  font-size: 35pt;
  font-family: 'Time', cursive;
  margin: 0;
  text-align: center;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
